html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* COMMON */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;
}

/* HEADER */
.header {
    background-color: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav ul {
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .btn-sign-up {
    min-width: 114px;
}

.header .action {
    margin-left: 49px;
}

/* HERO */
.hero {
    padding: 56px 0 11px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .content-block {
    width: 52%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 24px;

}