:root {
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* COMMON */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.5;
}

/* HEADER */
.header {
    background-color: #FFFCF4;
    z-index: 1;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav ul {
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .btn-sign-up {
    min-width: 114px;
}

.header .action {
    margin-left: 49px;
}

/* HERO */
.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}

/* HERO LEFT */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .content-block {
    width: 52%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 24px;
}

.media-block .hero-summary .item {
    display: flex;
    align-items: center;
}

.media-block .hero-summary .item+.item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
}

.hero-summary .icon2 {
    background-color: #fcefff;
}

.hero-summary .icon3 {
    background-color: #ebeaff;
}

.hero-summary .item .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* HERO RIGHT */
.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.67;
    /* 166.667% */
    margin-top: 22px;
}

.hero .cta-group {
    margin-top: 32px;
    margin-bottom: 48px;
    display: flex;
}

.hero .cta-group .hero-cta {
    background: #FFB900;
    border-radius: 32px;
    min-width: 180px;
    line-height: 64px;
}

.hero .watch-video {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
}

.hero .desc strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 15px;
    /* 122.727% */
}

.hero .desc strong:nth-child(2) {
    margin-left: 28px;
}

.hero .desc.stats {
    margin-top: 8px;
}