:root {
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* COMMON */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

.heading-lv2 {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    /* 126.316% */
    letter-spacing: -0.76px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* HEADER */
.header {
    background-color: #FFFCF4;
    z-index: 1;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav ul {
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .btn-sign-up {
    min-width: 114px;
}

.header .action {
    margin-left: 49px;
}

/* HERO */
.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}

/* HERO LEFT */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .content-block {
    width: 52%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 24px;
}

.media-block .hero-summary .item {
    display: flex;
    align-items: center;
}

.media-block .hero-summary .item+.item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
}

.hero-summary .icon2 {
    background-color: #fcefff;
}

.hero-summary .icon3 {
    background-color: #ebeaff;
}

.hero-summary .item .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* HERO RIGHT */
.hero .content-block {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    line-height: 1.67;
    /* 166.667% */
    margin-top: 22px;
}

.hero .cta-group {
    margin-top: 32px;
    margin-bottom: 48px;
    display: flex;
}

.hero .cta-group .hero-cta {
    background: #FFB900;
    border-radius: 32px;
    min-width: 180px;
    line-height: 64px;
}

.hero .watch-video {
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
}

.hero .desc strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 15px;
    /* 122.727% */
}

.hero .desc strong:nth-child(2) {
    margin-left: 28px;
}

.hero .desc.stats {
    margin-top: 8px;
}

/* POPULAR */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top .desc {
    color: #5F5B53;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    /* 166.667% */
    margin-top: 16px;
}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular .popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFB900;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #FFB900;
    background-color: transparent;
}

.popular .popular-top .control-btn:hover {
    background-color: #FFB900;
    color: white;
    cursor: pointer;
}

/* COURSE-LIST */
.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;

}

.popular .course-item {
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    flex: 1;
}

.popular .course-item .infor .head,
.popular .course-item .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .infor {
    padding: 16px 22px 22px;
}

.popular .course-item .rating {
    display: flex;
    align-items: center;
}

.popular .course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .head .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;

    /* 166.667% */
}

.popular .course-item .head .rating .value {
    margin-left: 6px;
    color: #FEA31B;
    font-size: 1.6rem;
    line-height: 1.75;
    /* 175% */
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
    /* 185.714% */
}

.popular .course-item .footer {
    margin-top: 12px;
}

.popular .course-item .footer .price {
    color: #171100;
    font: size 1.8rem;
    ;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
}

.popular .course-item .footer .btn-book {
    border: none;
}

.popular .course-item .footer .btn-book:hover {
    background-color: #FFB900;
    opacity: 1;
}

.popular .course-item:hover {
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

/* FEEDBACK */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}

.feed-back-list {
    display: flex;
    overflow: hidden;
}

.feed-back-item {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}

.feed-back-item .infor .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feed-back-item .infor .avatar-name {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
    /* 141.667% */
}

.feed-back-item .infor .desc {
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.86;
    /* 185.714% */
}

.feed-back-item .infor .dots {
    margin-top: 28px;
    display: flex;
}

.feed-back-item .infor .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
    cursor: pointer;
}

.feed-back-item .infor .dot.active {
    background: #FFB900;
    cursor: default;
}

.feed-back-item .content {
    width: 770px;
    height: 188px;
    margin-left: auto;
}

.feed-back-item .content blockquote {
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
    /* 153.846% */
}

/* FEATURES 1 */
.features {
    margin-top: 135px;
    padding: 65px;
}

.features .body {
    display: flex;
}

.features .body .images {
    display: flex;
    gap: 30px;
}

.features img {
    width: 270px;
    height: 405px;
    border-radius: 16px;
}

.features .lower {
    margin-top: 34px;
}

.features .body .content {
    margin-left: 130px;
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features .body .content .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    line-height: 1.75;
    /* 175% */
}

.features .body .content .cta-btn {
    margin-top: 32px;
    width: 137px;
    height: 50px;
    background-color: #FFB900;
}

/* FEATURES 2 */
.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.features-2nd .body .content {
    margin-left: 0px;
    width: 49%;
}

.features-2nd .body .images img {
    width: 470px;
    height: 440px;
    object-fit: cover;
}

/* BLOG */
.blogs {
    margin-top: 135px;
    padding: 96px 0 140px;
    background: #FFFCF4;
}

.blogs .blog-top {
    text-align: center;
}

.blogs .blog-top .desc {
    width: 448px;
    margin: 16px auto 0px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
    /* 175% */
}

.blogs .blog-list {
    gap: 30px;
    margin-top: 55px;
    display: flex;
}

.blogs .blog-list .blog-item {
    width: 33.33%;
    border-radius: 16px;
    background: #FFF;
}

.blogs .blog-list .blog-item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .blog-list .blog-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blogs .blog-item .infor {
    padding: 20px 20px 28px;
}

.blogs .blog-item .infor .date {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 12px;
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
    /* 185.714% */
}

.blogs .blog-item .infor .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    background-color: #FFB900;
    border-radius: 50%;
}

.blogs .blog-item .infor .date::after {
    content: "";
    position: absolute;
    left: 0px;
    right: -27px;
    bottom: 0px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}

.blogs .blog-item .infor .desc {
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    /* 175% */
}

.blogs .blog-item .infor .btn {
    margin-top: 12px;
}

.blogs .blog-item .infor .btn:hover {
    opacity: 1;
    background-color: #FFB900;
}

.blogs .dots {
    margin-top: 38px;
    display: flex;
    gap: 6px;
    justify-content: center;
}

.blogs .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5F5B53;
    cursor: pointer;
}

.blogs .dots .dot.active {
    cursor: default;
    background-color: #FFB900;
}

/* FOOTER */
footer {
    background: #2E2100;
    padding: 96px 135px 0px 135px;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #BFBCB2;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .row .column .desc {
    margin-top: 18px;
    max-width: 267px;
    color: #BFBCB2;
    font-size: 1.6rem;
    line-height: 1.86;
    /* 185.714% */
}

.footer .row .column .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .row .column .title {
    display: inline-block;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    /* 175% */
    border-bottom: 1px solid #59554B;
    padding-bottom: 14px;
    padding-right: 48px;
}

.footer .row .column .list {
    margin-top: 28px;
}

.footer .row .column .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.86;
    /* 185.714% */
}

.footer .list.address li {
    margin-bottom: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.86;
    /* 185.714% */
}

.footer .row .column .list li:last-child a {
    margin-bottom: 0px;
}

.footer .list strong {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    /* 185.714% */
}

.footer .copyright {
    padding: 28px 0;
    color: #807D74;
    text-align: center;
    line-height: 1.86;
    /* 185.714% */
}